<mat-toolbar>
    <button mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Bertha's Chocolate Factory (Android 14)</span>
    <span class="example-spacer"></span>
    <button mat-flat-button routerLink="/home" class="example-icon" aria-label="Home">
        <mat-icon>home</mat-icon>Home
    </button><span class="spacer"></span>
    <button mat-flat-button routerLink="/cart" class="example-icon" aria-label="Cart">
        <mat-icon>shopping_cart</mat-icon>Cart
    </button>
</mat-toolbar>